<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suites" parallel="tests">
<listeners > 
<listener class-name="com.test.POMmaven.POMmaven.CustomListeners.Listeners"></listener>
</listeners>
<test name="TC02_VerifyRegistration">
<classes>
<class name="com.test.POMmaven.POMmaven.homepage.TC01_verifyInvaidLogin"></class>
<class name="com.test.POMmaven.POMmaven.homepage.TC02_VerifyRegistration"></class>
</classes>
</test>
</suite>